# Don't track the contents of these files
*.DS_Store
.gitignore~
.Rhistory
.Rhistory
camber_list.csv
animCLCD/
animCLCD1/
animCaoa/
animEfficiency/
animgamma/
animgaoa/
animslope/
animslopeyint/
flatwingGPC/
gpcresults/
notes/